.host {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 100vw;
  height          : 100vh;
}

canvas {
  display    : block;
  background : #eee;
  box-shadow : 0 4px 8px rgba(0,0,0,.3);
}
